CREATE DATABASE IF NOT EXISTS wordpress;
DROP USER IF EXISTS 'wp_user'@'%';
CREATE USER IF NOT EXISTS 'wp_user'@'%' IDENTIFIED BY '${DB_WP_PASSWORD}';
GRANT ALL PRIVILEGES ON wordpress.* TO 'wp_user'@'%';
FLUSH PRIVILEGES;
